<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Users</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <main class="grid">
            <article *ngFor="let user of users">
                <div>
                <div class="text">
                    <h3> {{ user.username }}</h3>
                    <h6>{{user.email}}</h6>
                </div>
            </div>
            <div class="row">
                <hr class="m-0" />
                <div class="col-md-2"></div>
                <div class="col-md-2" *ngIf= "!user.is_active">
                    <button mat-button (click)="activate(user.id)" title="activate user" class=" btn-action">
                        <i class="fa fa-edit" aria-hidden="true" ></i>
                    </button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <button mat-button (click)="delete(user.id)" title="delete user" class=" btn-action">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>
                </div>
            </article>
        </main>
    </div>
</div>